<% @tvshow.each do |tvshow| %>
  <h1>
    <%= tvshow.name %>
  </h1>

  <p>
    <%= tvshow.description %>
  </p>

  <i>
    Star Rating: <%= tvshow.star_rating %>
  </i>

  <%= simple_form_for @user_review, url: tvshow_user_reviews_path(@tvshow) do |f| %>
    <%= f.input :review %>
    <%= f.input :rating %>
    <%= f.input :name %>
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  <% end %>
  <hr />
<% end %>