<% if @tvshow.user_reviews.empty? %>
  <h2> No User Reviews Have Been Submitted Yet.</h2>
  <hr />
<% else %>
  <h1><%= @tvshow.name %></h1>

  <% @tvshow.user_reviews.each do |reviews| %>
    <h2> <%= reviews.review %> </h2>
    <h2> <%= reviews.rating %> </h2>
    <h2> <%= reviews.name %> </h2>
    
    <hr />
  <% end %>
<% end %>

<h2><%= link_to "Submit Your Own Review", new_tvshow_user_review_path(@tvshow.id) %></h2> 