<h1>Submit your own review!</h1>
<%= simple_form_for @user_review, url: tvshow_user_reviews_path(@tvshow) do |f| %>
  <%= f.input :review %>
  <%= f.input :rating %>
  <%= f.input :name %>
  <%= f.submit "Add a Review", class: 'btn btn-primary' %>
<% end %>